body {
  padding-top: 61px;  /* Move body of page below navbar. */
}

a {
  color: #ffffff;
}

a:hover {
  color: #afffde;
}

#map {
  height: 400px;
  width: 100%;
  /*padding-left: 10%;*/
  /*padding-right: 10%;*/
  margin: 35px;
}

img {
  height: 100px;
}


/*div.ui.top.fixed.borderless.green.inverted.menu {*/
  /*margin-bottom: 35px;*/
/*}*/

/*div.ui.container h1{*/
  /*margin-top: 35px;*/
/*}*/
